/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.headernav {
    display: flex;
    flex-direction: row;
    justify-content: flex start; 
    margin: 20px;   
    padding: 15px 5px 15px 5px;
    display: block;
}
.lambda {
    position: relative;
    left: 150px;
    top: 40px;

}

.topnav {
    display: flex;
    justify-content: flex-end;
    padding: 5px 100px 5px 100px;
    position: relative;
    right: 100px;

}

.topnav a {
    display: flex;
    margin: 40px;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 30px;
}
.topimage {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    left: 140px;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: no wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/**/
.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}
#finalsentence {
    display: flex;
    margin: 10px;
    right: 580px;
    position: relative;
    width: 80%;
    margin-top: 50px;

}

footer {
    width: 80%;
    background: black;
    position: relative;
    left: 140px;
    margin-top: 50px;
    margin-bottom: 0px;
    bottom: 920px;
    
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
 
}

footer nav a {
    color: white;
    text-decoration: none;
}
#teal {
    background-color: teal;
}
#gold{
    background-color: gold;
}
#cadetblue{
    background-color: cadetblue;
}
#coral{
    background-color: coral;
}
#crimson{
    background-color: crimson;
}
#forestgreen{
    background-color: forestgreen;
}
#darkorchid{
    background-color: darkorchid;
}
#hotpink{
    background-color: hotpink;
}
#indigo{
    background-color: indigo;
}
#dodgerblue{
    background-color: dodgerblue;
}
.firstrow {
    display: flex;
    margin: 50px 400px 250px 400px;
    position: relative;
    right: 450px;
    flex-direction: column;
    width: 55%;
    height: 50%;
}
.
.secondrow{
    display: flex;
    height: 15%;
    width: 35%;
    margin: 10px;
    position: relative;
    flex-direction: column;
    left: 50px;
    bottom: 0px;
    padding: -20px;

}
button {
    height: 40px;
    width: 150px;
    border-radius: 5%;
    background-color: white;
}
div {
    margin: 5px;
    position: relative;
    width: 150%;
}
.office {
    position: relative;
    right: 40px
    bottom: 250px;
    width: 80%;
    margin: 0px;
}

.bottomleft {
    position: relative;
    bottom: 230px;
    right: 55px;
    height:230px;
    width: 450px;
}
p {
    width: 100%;
}
.bltext {
    width: 50%;
    position: relative;
    bottom: 220px;
    right: 60px;
}

.righttwopics {
    
    left: 700px;
    bottom: 920px;
   
}

footer {
    position: relative;
    right: 500px;
}
nav {
    font-size: 20px;
}

